{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="container_auth container_admin_edit">
<form action="{% if request.resolver_match.url_name == 'champion_edit' %}
{% url 'admin:champion_edit' pk=object.pk %}{% else %}{% url 'admin:champion_create' %}{% endif %}" class="auth_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="auth_h1">Create/Edit champion</h1>
    {% for field in form %}
    <div class="field_wrapper">
        {{ field.label_tag }}{{ field }}{{ field.errors }}
    </div>
    {% endfor %}
    <input type="submit" class="auth_button" value="Save">
</form>
    <a href="{% url 'admin:champion_list' %}" class="auth_link">Back</a>
</div>
{% endblock %}