{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title|title }}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/fonts.css'%}">
    {% endblock %}
    {% block js %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
       <script src="{% static 'js/orders.js' %}"></script>
    {% endblock %}
</head>

<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>

</html>