{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
{% include 'collectapp/includes/inc_collection_menu.html' %}
<div class="collection_content">
    <div class="content_left">
        <div class="champion_counter_block">
            <p class="counter">{{ owned_champs|length }}</p>
        </div>
        <input type="text" placeholder="Search" class="search">
        <a href="#" class="show_unowned">Show Unowned</a>
    </div>
    <div class="content_right">
        {% for champ in champions %}
        <div class="champion">
            <a href="{% url 'collection:product' 'champions' champ.pk %}">
            <div class="champion_img_block">
                <img src="{{ champ.image.url }}" alt="{{ champ.name }}" {% if champ.pk not in owned_champs %}
                     class="champion_img not_owned"{% else %}class="champion_img"{% endif %}>
            </div>
            </a>
            <p class="champion_name">{{ champ.name|title }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="paginator_menu">
    {% if champions.has_previous %}
        <a href="{% url 'collection:page' 'champions' champions.previous_page_number %}">
            ↿
        </a>
    {% else %}
      <br>
    {% endif %}
      <p>
          {% if champions %}
            {{ champions.number }}/{{ champions.paginator.num_pages }}
          {% endif %}
      </p>
    {% if champions.has_next %}
        <a href="{% url 'collection:page' 'champions' champions.next_page_number %}">
            ⇂
        </a>
    {% else %}
      <br>
    {% endif %}

    </div>
</div>
{% endblock %}